<%include inc/header.html %>

<div class="content">
  <div class="wrap page-con">
      <h2 class="tith2">更新日志</h2>
        <div class="daily">
          <ul>
              <li>
                <i class="circle"></i>
                <div class="dailycont">
                  <i class="arrowl"></i>
                  <span><strong>0.0.0</strong>2017.11.01~2017.11.30</span>
                  <p>拼死开发中...</p>
                </div>
              </li>
            </ul>
        </div>
        <!-- <div class="ploy">
          <h4>ThinkJS 版本发布策略：</h4>
            <p>1~2 周发布一个小版本，如：1.0.1 => 1.0.2（小功能增加，bug 修复等）</p>
            <p>1~3 月发布一个中版本，如：1.0.0 => 1.1.0（较大功能增加，部分模块重构等）</p>
            <p>1~2 年发布一个大版本，如：1.0.0 => 2.0.0（框架整体设计、重构等）</p>
            <p>以上情况会因为一些特殊情况进行调整。</p>
        </div> -->
    </div>
</div>

<%include inc/footer.html %>